---
import { getAllCourses, getCoursesByTopic } from '../../use-cases/queries/courses';
import Carousel from '../components/Carousel';
import CoursesGrid from '../components/CoursesGrid';
import CoursesProducts from '../components/Related-Courses.astro';
import Layout from '../layouts/Layout.astro';
import type { Course } from '../types/types';


const courses = [
	{ id: 1, title: "Kurs React", price: 199, description: "lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod, nisl eget ultricies ultrices, nunc nisl aliquet nunc, vitae aliquam nisl nunc vitae nisl. Nulla euismod, nisl eget ultricies ultrices, nunc nisl aliquet nunc, vitae aliquam nisl nunc vitae nisl. Nulla euismod, nisl eget ultricies ultrices, nunc nisl aliquet nunc,", imageUrl: null, topics: ["New", "React"] },
	{ id: 2, title: "Kurs Vue", price: 199, description: "lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod, nisl eget ultricies ultrices, nunc nisl aliquet nunc, vitae aliquam nisl nunc vitae nisl. Nulla euismod, nisl eget ultricies ultrices, nunc nisl aliquet nunc, vitae aliquam nisl nunc vitae nisl. Nulla euismod, nisl eget ultricies ultrices, nunc nisl aliquet nunc,", imageUrl: null, topics: ["New", "Vue"]},
	{ id: 3, title: "Kurs Angular", price: 199, description: "lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod, nisl eget ultricies ultrices, nunc nisl aliquet nunc, vitae aliquam nisl nunc vitae nisl. Nulla euismod, nisl eget ultricies ultrices, nunc nisl aliquet nunc, vitae aliquam nisl nunc vitae nisl. Nulla euismod, nisl eget ultricies ultrices, nunc nisl aliquet nunc,", imageUrl: null, topics: ["New", "Angular"]},
	{ id: 4, title: "Kurs Node.js", price: 199, description: "lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod, nisl eget ultricies ultrices, nunc nisl aliquet nunc, vitae aliquam nisl nunc vitae nisl. Nulla euismod, nisl eget ultricies ultrices, nunc nisl aliquet nunc, vitae aliquam nisl nunc vitae nisl. Nulla euismod, nisl eget ultricies ultrices, nunc nisl aliquet nunc,", imageUrl: null, topics: ["New", "Node.js"]},
	{ id: 5, title: "Kurs Python", price: 199, description: "lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod, nisl eget ultricies ultrices, nunc nisl aliquet nunc, vitae aliquam nisl nunc vitae nisl. Nulla euismod, nisl eget ultricies ultrices, nunc nisl aliquet nunc, vitae aliquam nisl nunc vitae nisl. Nulla euismod, nisl eget ultricies ultrices, nunc nisl aliquet nunc,", imageUrl: null, topics: ["New", "Python"]},
	{ id: 6, title: "Kurs JavaScript", price: 199, description: "lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod, nisl eget ultricies ultrices, nunc nisl aliquet nunc, vitae aliquam nisl nunc vitae nisl. Nulla euismod, nisl eget ultricies ultrices, nunc nisl aliquet nunc, vitae aliquam nisl nunc vitae nisl. Nulla euismod, nisl eget ultricies ultrices, nunc nisl aliquet nunc,", imageUrl: null, topics: ["New", "JavaScript"]},
	{ id: 7, title: "Kurs PHP", price: 99, description: "lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod, nisl eget ultricies ultrices, nunc nisl aliquet nunc, vitae aliquam nisl nunc vitae nisl. Nulla euismod, nisl eget ultricies ultrices, nunc nisl aliquet nunc, vitae aliquam nisl nunc vitae nisl. Nulla euismod, nisl eget ultricies ultrices, nunc nisl aliquet nunc,", imageUrl: null, topics: ["New", "PHP"]},
	{ id: 8, title: "Kurs Java", price: 199, description: "lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod, nisl eget ultricies ultrices, nunc nisl aliquet nunc, vitae aliquam nisl nunc vitae nisl. Nulla euismod, nisl eget ultricies ultrices, nunc nisl aliquet nunc, vitae aliquam nisl nunc vitae nisl. Nulla euismod, nisl eget ultricies ultrices, nunc nisl aliquet nunc,", imageUrl: null, topics: ["New", "Java"]},
]

const images = [
	'http://localhost:8080/uploads/courses/course11.png',
	'http://localhost:8080/uploads/courses/course10.png',
	'http://localhost:8080/uploads/courses/course7.png',
	'http://localhost:8080/uploads/courses/course9.png',
];

const slides = [
  {
    title: "Web Development Course",
    description: " A comprehensive course that covers the fundamentals of web development, including HTML, CSS, JavaScript, and more.",
    duration: "8 weeks",
    level: "Intermediate",
    price: "$99",
    image: "http://localhost:8080/uploads/courses/course11.png"
  },
  {
    title: "Data Science Fundamentals",
    description: "Learn the basics of data science, including data analysis, visualization, and machine learning with Python.",
    duration: "8 weeks",
    level: "Intermediate",
    price: "$99",
    image: "http://localhost:8080/uploads/courses/course10.png"
  },
	{
    title: "Mobile App Development",
    description: "A hands-on course that teaches you how to build and deploy mobile apps using React Native.",
    duration: "8 weeks",
    level: "Intermediate",
    price: "$99",
    image: "http://localhost:8080/uploads/courses/course7.png"
  },
	{
    title: "Digital Marketing Mastery",
    description: "This course covers the key strategies and techniques to excel in digital marketing, from SEO to social media.",
    duration: "8 weeks",
    level: "Intermediate",
    price: "$99",
    image: "http://localhost:8080/uploads/courses/course6.png"
  },
]

const allCourses = await getCoursesByTopic('New');
const futuredCourses = await getCoursesByTopic('Featured');
const saleCourses = await getCoursesByTopic('Sale');

---

<Layout title="Strona główna" description="Platforma kursów">
	<div class="py-10 lg:container mx-auto w-full md:px-0 px-3">
		<Carousel slides={slides} client:only />
	<!-- <h2 class="text-3xl font-bold mb-4">Dostępne kursy</h2>
	<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
		{courses.map((course) => (
			<a href={`/course/${course.id}`} class="block p-4 bg-white shadow rounded">
				<h3 class="text-xl font-semibold">{course.title}</h3>
				<p class="text-gray-700">Cena: {course.price} zł</p>
			</a>
		))}
	</div> -->
	<CoursesGrid courses={allCourses as Course[]} />
	<CoursesProducts courses={futuredCourses as Course[]} />
	</div>
</Layout>

