---

import CourseCard from '../components/CourseCard'
import { getCoursesByTitle } from '../../use-cases/queries/courses';
import Layout from '../layouts/Layout.astro';
import type { Course } from '../types/types';

const query = Astro.url.searchParams.get('query');
let courses: Course[] = [];

if (query) {
  courses = await getCoursesByTitle(query);
}
---

<Layout title={`Wyniki wyszukiwania: ${query}`} description={`Wyniki wyszukiwania dla: ${query}`}>
  <div class="lg:container mx-auto w-full lg:px-0 px-5">
    <h1 class="text-2xl font-bold mb-6">Wyniki wyszukiwania dla: {query}</h1>
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
      {courses.length > 0 ? (
        courses.map((course) => (
          <div>
            <CourseCard {...course} />
          </div>
        ))
      ) : (
        <p class="col-span-full text-center text-gray-600">
          Nie znaleziono kursów dla zapytania: {query}
        </p>
      )}
    </div>
  </div>
</Layout>