---


import CourseEdit from "../../../components/CourseEdit";
import Layout from "../../../layouts/Layout.astro";
import { getAllCourses, getCourseById } from "../../../../use-cases/queries/courses";
import type { Course as CourseType} from "../../../types/types";

export const prerender = true;

export async function getStaticPaths() {
  const courses = await getAllCourses();
  return courses.map((course: CourseType) => ({ params: { courseId: course.id.toString() } }));
}

const { courseId } = Astro.params;

const courseData = await getCourseById(courseId);
---

<Layout title={`Edytuj kurs ${courseData.title}`} description={`Edytuj kurs ${courseData.title}`} >
  <div class="lg:container mx-auto w-full lg:px-0 px-5">
    {
      courseData ? 
      (
        <CourseEdit course={courseData} client:load/>
      ) : 
      (
        <p>Kurs nie znaleziony</p>
      )
    }
  </div>
</Layout>