---
import TeacherDashboard from "../../components/TeacherDashboard/TeacherDashboard";
import Layout from "../../layouts/Layout.astro";


---

<Layout title="Panel administratora" description="Panel administratora">
  <div class="py-10 lg:container mx-auto w-full md:px-0 px-3">
    <div class="text-text rounded-lg bg-background1 p-5 shadow-lg flex flex-col gap-5">
      <div class="flex justify-between items-center">
        <h1 class="text-3xl font-bold">Panel nauczyciela</h1>
        <button class="bg-primary text-white px-4 py-2 rounded-lg">Wyloguj</button>
      </div>
      <TeacherDashboard client:only="react" />
    </div>
  </div>
</Layout> 